@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

@import "./colors.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--text-color);
    transition: 500ms;
    user-select: none;
    text-decoration: none;
}

@font-face {
    font-family: "Bangla 1";
    src: url("./src/assets/fonts/bangla1.ttf");
}
@font-face {
    font-family: "Bangla 2";
    src: url("./src/assets/fonts/bangla2.ttf");
}

body {
    background-color: var(--bg-color);
    font-family: "Ubuntu", "Bangla 2";
}
