@import "../../../colors.css";

.header {
    width: 100%;
    height: 80px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 10px var(--shadow-color);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    font-size: 22px;
    margin-right: 15px;
}

svg {
    width: 25px;
    height: 25px;
    fill: var(--text-color);
    transition: 80ms;
}
